.a2n-course__action input[type="submit"].button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  background: #0e1c41;
  border-radius: 5px;
  font-family: "Manrope", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease;
}
.a2n-course__action input[value="FINISHED COURSE"].button {
  background: #7ba631;
}
.a2n-course__action input[value="CONTINUE COURSE"].button {
  background: #00c1eb;
}
.a2n-course__prgr {
  width: 100%;
  background: #0000005c;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: -55px;
  position: relative;
  z-index: 10;
}
.a2n-course__prgr progress {
  width: 100%;
  height: 10px;
  appearance: none;
}
.a2n-course__prgr progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}
.a2n-course__prgr progress[value]::-webkit-progress-value {
  background: #00c1eb;
  border-radius: 10px;
}
.a2n-course__prgr progress[value="100"]::-webkit-progress-bar {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.a2n-course__prgr progress[value="100"]::-webkit-progress-value {
  background: #7ba631;
  border-radius: 10px;
}
.a2n-course__prgr .a2n-course__cmplt {
  color: #fff;
  margin-top: 5px;
}